.scrollDownText {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 0.5rem;
  position: absolute;
  left: 1px;
  top: 56.5%;
}
@media only screen and (min-width: 1024px) {
  .scrollDownText {
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 0.8rem;
    position: absolute;
    left: 1px;
    top: 56.5%;
  }
}

.scrollDownDiv {
  position: absolute;
  left: 3px;
  top: 60%;
  height: 30px;
}

.scrollDown span {
  position: absolute;
  left: 0px;
  top: 0px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrollDown::after {
  content: "";
  position: absolute;
  left: 25px;
  width: 2px;
  height: 30px;
  background: #eee;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}
